
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the web template..</h2>

<h2>Dec-15 patch branch created.</h2>

//Develop branch created. First check in to develop branch.

//First_Feature_Branch_From_develop created. First check in to feature branch

//Second commit to First_Feature_Branch_From_develop

